<% if obj.errors.any? %>
  <div class="alert alert-danger" role='alert'>
    <h5>There were some errors:</h5>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>