<% if flash.keys.any? %>
  <% flash.keys.each do |key| %>
    <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert">x</button>
      <%= flash[key] %>
    </div>
    <% end %>
<% end %>
