<% if flash.keys.any? %>
  <% flash.keys.each do |key| %>
    <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>" role="alert">
      <%= flash[key] %>
    </div>
    <% end %>
<% end %>
